In [2]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv("play_tennis.csv")
data.drop(columns=['day'],inplace=True)

In [6]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [7]:
# problem 1

# outlook-Sunny, Temp-hot, Humidity-High, wind-weak
# Play or NO play

In [10]:
# solution

# P(Yes | Sunny, Hot, High, Weak) = (Sunny | Yes) * P(Hot | Yes) * P(High | Yes) * P(weak | Yes) * P(Weak | Yes)

# P(No | Sunny, Hot, High, Weak) = (Sunny | No) * P(Hot | No) * P(High | No) * P(weak | No) * P(Weak | No)

# compare and decide using the Maximum a posteriori rule

In [11]:
# Problem 2

# outlook-Overcast, Temp-Cold, Humidity-low, wind-weak
# Play or NO play

In [12]:
# solution

# P(Yes | Overcast, Cold, Low, Weak) = (Overcast | Yes) * P(Cold | Yes) * P(Low, | Yes) * P(weak | Yes) * P(Weak | Yes)

# P(No | Overcast, Cold, Low, Weak) = (Overcast | No) * P(Cold | No) * P(Low | No) * P(weak | No) * P(Weak | No)

# compare and decide using the Maximum a posteriori rule

In [13]:
# 1. Training stage
    # Lookup Table (dictionary)

# 2. Testing stage

In [14]:
# P(Yes)
# P(NO)

In [15]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [16]:
py = 9/14
pn = 5/14

In [17]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [19]:
# Outlook column

pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [21]:

Pon = 0   # probability overcast n
Prn = 2/5  # probability rain n
Psn = 3/5   # probability sunny n


Poy = 4/9
Pry = 2/9
Psy = 3/9

In [22]:
# temp

pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [23]:
PCoolNo = 1/5
PHotNO = 2/5
PMildNO = 2/5

PCoolYes = 3/9
PHotYes = 2/9
PMildYes = 4/9

In [24]:
# Humidity 

pd.crosstab(data['humidity'], data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [26]:
PHighNo = 4/5
PNormalNo = 1/5

PHighYes = 3/9
PNormalYes = 6/9

In [27]:
# wind

pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [28]:
PStrongNo = 3/5
PWeakNo = 2/5

PStrongYes = 3/9
PWeakYes = 6/9

In [30]:
# outlook-Sunny, Temp-hot, Humidity-High, wind-weak

Pyes = py * Psy * PHotYes * PHighYes * PWeakYes
print(Pyes)

0.010582010582010581

In [33]:
PNo = pn * Psn * PHotNO * PHighNo * PWeakNo
print(PNo)

0.02742857142857143