In [108]:
import numpy as np
import pandas as pd

In [124]:
df = pd.read_csv('insurance.csv')

In [125]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [126]:
df.shape

(1338, 7)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [129]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['charges'], axis=1)
y = df['charges']
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2, random_state=42)

In [130]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

trf = ColumnTransformer([
    ('trf1', OneHotEncoder(drop='first', sparse_output=False), ['sex', 'smoker','region'])
], 
                       remainder='passthrough')

In [131]:
tf = trf.fit_transform(X_train)
tf2 = trf.fit_transform(X_test)

In [132]:
X_train_trf = pd.DataFrame(tf)
X_test_trf = pd.DataFrame(tf2)

In [133]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train_trf, y_train)
y_pred = lr.predict(X_test_trf)

In [134]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
# R² Score
r2 = r2_score(y_test, y_pred)
print("R² Score:", r2)

R² Score: 0.7835929767120722