In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('titanic_toy.csv')

In [3]:
df.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [4]:
df.isnull().mean()*100

Age         19.865320
Fare         5.050505
Family       0.000000
Survived     0.000000
dtype: float64

In [5]:
from sklearn.model_selection import train_test_split

X = df.drop('Survived', axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [20]:
from sklearn.impute import KNNImputer

knn = KNNImputer(n_neighbors=5)

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [21]:
pd.DataFrame(X_train_trf, columns=X_train.columns)

      Age      Fare  Family
0    40.0   27.7208     0.0
1     4.0   16.7000     2.0
2    47.0    9.0000     0.0
3     9.0   31.3875     6.0
4    20.0    9.8458     0.0
..    ...       ...     ...
707  30.0    8.6625     0.0
708  31.4    8.7125     0.0
709  71.0   49.5042     0.0
710  33.8  221.7792     0.0
711  38.8   25.9250     0.0

[712 rows x 3 columns]

In [22]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train_trf, y_train)
y_pred = lr.predict(X_test_trf)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6201117318435754

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [24]:
from sklearn.impute import SimpleImputer

si = SimpleImputer()
X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [25]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train_trf2, y_train)
y_pred = lr.predict(X_test_trf2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6201117318435754